table {
	font-family: Arial;
	width: 100%;
	max-width: 1200px;

	margin: 20px auto;
	padding: 15px;
	text-align: center;

	border-radius: 10px;
    box-shadow: 0 3px 26px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    border: none;
}

tr {
	border: none;
}

td {
	border: none;
}

.email__img {
	width: 100%;
	max-width: 200px;
}

.email__title {
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 50px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 105%;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
	padding: 20px 0 20px 0;
}

.email__paragraph {
	max-width: 500px;
	margin: 0 auto;
	padding: 0;
	font-family: Arial;
	font-size: 15px;
  	font-weight: normal;
  	font-stretch: normal;
  	font-style: normal;
  	line-height: 120%;
  	letter-spacing: normal;
  	text-align: center;
  	color: #4a4a4a;
}

.email__subtitle {
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 30px;
  	font-weight: normal;
  	font-stretch: normal;
  	font-style: normal;
  	line-height: 1.07;
  	letter-spacing: normal;
  	text-align: center;
  	color: #000000;
  	padding: 5px 0 8px 0;
}

.email__how-work {
	font-family: Arial;
	font-size: 28px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.14;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
	padding-bottom: 15px;
}

.email__info-bold {
	display: block;
	margin: 0 auto;
	max-width: 500px;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    padding-bottom: 18px;
} 

.email__selebration {
	display: block;
	margin: 0 auto;
	max-width: 500px;
	font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #00ac90;
    padding-bottom: 10px;
}

.email__content {
	display: block;
	margin: 0 auto;
	max-width: 500px;

	font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    padding-bottom: 30px;
}


.email__btn {
	display: block;
	text-align: center;
    font-family: Arial;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 34px;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-decoration: none;

    width: 156px;
    height: 34px;
    border-radius: 5px;
    background-color: #3eccb5;
    transition: all 0.2s linear;
    margin: 30px auto 10px auto;
}

.email__btn:hover {
	box-shadow: -10px 20px 36px 0 rgba(0, 0, 0, 0.12);
	text-decoration: underline;
	transition: all 0.2s linear;
}

@media screen and (max-width: 480px) {
    .email__img {
    	max-width: 120px;
    }
    .email__title {
    	font-size: 26px;
    }
    .email__paragraph {
    	font-size: 14px;
    }
    .email__subtitle {
    	font-size: 24px;
    }
    .email__how-work {
    	font-size: 25px;
    }
    .email__info-bold {
    	font-size: 15px;
    }
    .email__selebration {
    	font-size: 15px;
    }
    .email__content {
    	font-size: 15px;
    }
}